:root {
    --primary-color: #323238;
    --light-sound-color: #E1E1E6;
    --blue-sound-color: #02799D;
    --dark-sound-color: #29292E;
    --darkBlue-sound-color: #0A3442;
    --bg-light-color: #E5E5E5;
    --bg-dark-color: #000000;
    --timer-light-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-light-color);
    display: grid;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 82.1rem;
    height: 33.6rem;
    margin-bottom: 7rem;
}

.bgDark {
    background-color: var(--bg-dark-color)
}


.light-dark-mode {
    display: flex;
    justify-self: flex-end;
    margin-right: 6rem;
    margin-top: 6rem;
    width: 44px;
    height: 44px;
}

.hide {
    display: none;
}

.timer {
    display: block;
    align-self: center;
}

.time {
    display: flex;
    font-size: 12.61rem;
}

.lightColor {
    color: var(--timer-light-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sounds ul li button {
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
    background-color: var(--light-sound-color);
}

.sounds ul li button.blue {
    background-color: var(--blue-sound-color);
}

.sounds ul li button.dark {
    background-color: var(--dark-sound-color);
}

.sounds ul li button.darkBlue {
    background-color: var(--darkBlue-sound-color);
}

.sounds ul li button svg path {
    fill: var(--primary-color);
}

.sounds ul li button.white svg path {
    fill: white;
}

.sounds {
    display: flex;
    width: 30.8rem;
    height: 33.6rem;
}

.sounds ul {
    display: flex;
}

li {
    list-style: none; 
}

.florest {
    margin: 0 3.2rem 3.2rem 0;
}

.rain {
    margin-bottom: 3.2rem;   
}
